/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: Helvetica, sans-serif;   
    text-align: center; 
}

#header-bg {
    background-color: #a88957;
    height: 100px;
}

#header {
    margin: 0em 5em;

}

#header ul {
    list-style: none;
}

#header li {
    display: inline;
}

:root {
    --backgrouond-color-body: #5776a8;
    --background-color-header: #a88957;
    --background-color-banner: #a88957;
    --background-color-footer: #a88957;
    --background-color-taskboard-title: #a88957;
    --background-color-taskboard-body: #aebdd5;
    --background-color--task-title: #fadaab;
    --color-task-border: #f39c1f;
    --background-color-submit-button: #4065a1;
    --background-color-reset-button: #8493ac;
}