/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: Helvetica, sans-serif;   
    text-align: center; 
}

:root {
    --backgrouond-color-body: #5776a8;
    --background-color-header: #a88957;
    --background-color-banner: #a88957;
    --background-color-footer: #a88957;
    --background-color-taskboard-title: #a88957;
    --color-taskboard-title-border: #705b3a;
    --background-color-taskboard-body: #aebdd5;
    --background-color-task-title: #fadaab;
    --background-color-task-attribute: #91a5c6;
    --background-color-task-value: #c3cee0;    
    --color-task-border: #f39c1f;
    --background-color-todo: #8994a5;
    --background-color-inprogress: #f7df77;
    --background-color-review: #77c4f7;
    --background-color-done: #0bbe52;
    --background-color-submit-button: #4065a1;
    --background-color-reset-button: #8493ac;
}

header {
    background-color: var(--background-color-header);
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 100;
}

.header-container {
    margin: 0em 5em;
    min-width: auto;
    max-height: auto;
}

.header-container ul {
    list-style: none;
}

.header-container li {
    display: inline;
}

.header-container #logo {
    width: 100px;
    height: 70px;
}

.header-container #contact {
    width: 50px;
    height: 50px;
}

.banner-container {
    background-image: url("resources/images/image_banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 26rem;
    top: 80px;
    position: relative;
    opacity: 0.9;
}

.banner-container h2 {
    font-size: 2rem;
    font-family: Helvetica, sans-serif; 
    text-align: center;
    background-color: var(--background-color-header);
    padding: 1rem;
    color: black;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%);    
    width: 100%;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
}

.banner-container h2 span {
    color: whitesmoke;
}

.banner-container h4 {
    font-size: 1rem;
    /* font-family: Helvetica, sans-serif; */
    position: relative;
    left:auto;
}

.banner-container h4 span {
    font-size: 1rem;
    font-family: Helvetica, sans-serif;
    position: relative;
    /* background-color: #aebdd5; */
    /* box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8); */
}

.banner-container button {
    font-family: Helvetica, sans-serif;
    background-color: var(--background-color-banner);
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    border: 1px solid black;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
  }
    
.div-taskInputColor {
    background-color: #f7df77;
}

.div-taskInputColor2 {
    background-color: #faefbd;
}

.no-outline:focus {
    outline: none;
    border: none;
}

.row {
    align-items: center;
    justify-content: center;
    padding-top: 12px;
}

.div-borderColor {
    border-color: #705b3a;
}  

.create-task {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);    
    background-color: var(--background-color-inprogress);
    padding: 1rem;
    width: 50%;
    z-index: 200;
}

.task-board {
    position: relative;
}

.board-name {
    background-color: var(--background-color-taskboard-title);
    margin-bottom: 0;
    padding: 1rem;  /* reboot.scss set 0.5rem to margin-bottom for headings */
    border-bottom: 0.1rem solid var(--color-taskboard-title-border);
}

.tasks-container {
    background-color: var(--background-color-taskboard-body);
    padding: 2rem;
    width: 100%;
    height: auto;
}

.card {
    opacity: 0.85;
    transition: all 0.3s ease-in-out;
}

.card:hover {
    scale: 1.2;
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(240, 198, 15, 0.8);
    margin: 0.5rem;   
    opacity: 1;
}

.card .custom-select, .card input {
    font-size: 0.8rem;
}

.card textarea {
    border: none;
    padding: 0;
}

footer ul {
    background-color: #a88957;
    padding: 10px 5px;
}

footer li {
    display: inline-block;
    list-style: none;
    color: white;
}